*.class
target
logs

*/*dependency-reduced-pom.xml

*.jar
*.war
*.ear

*.ipr
*.iws
*.iml
**/*.iml
.idea
*.swp

.DS_Store
**/*.DS_Store

**/target/*
target

**/bin/*
**/lib/*
*.classpath
*.project
**/*.settings
.project
.settings
.classpath
.sass-cache
sauce_connect.log

.ensime*

**/codekit-config.json
